In [1]:
# Section must be included at the beginning of each new notebook. Remember to change the app name. 
# If you're using VirtualBox, change the below to '/home/user/spark-2.1.1-bin-hadoop2.7'
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('CrimeAnalysis').getOrCreate()

## Import datasets

In [2]:
#import crime data and print schema
df_crime = spark.read.csv('./Datasets/Crimes_-_2012.csv', header = True, inferSchema = True)
df_crime.printSchema()
print(df_crime.columns)

#import census data and print schema
df_census = spark.read.csv('./Datasets/Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012.csv',
                          header = True, inferSchema = True)
df_census.printSchema()
print(df_census.columns)

root
 |-- Case Number: string (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- TIME: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- Beat: integer (nullable = true)
 |-- District: integer (nullable = true)
 |-- Ward: integer (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: integer (nullable = true)
 |-- Community Area: integer (nullable = true)
 |-- Y Coordinate: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Location: string (nullable = true)

['Case Number', 'ID', 'Date', 'TIME', 'IUCR', 'Primary Type', 'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'FBI Code', 'X Coordinate', 'Community Area', 'Y Coordinate', 'Year', 'Latitude', 'Updated On', 'Longitude', 'Location']
root
 |-- Community Area Number: integer (nullable = true)
 |-- COMMUNITY AREA NAME: string (nullable = true)
 |-- PERCENT OF HOUSING CROWDED: double (nullable = true)
 |-- PERCENT HOUSEHOLDS BELOW POVERTY: double (nullable = true)
 |-- PERCENT AGED 16+ UNEMPLOYED: double (nullable = true)
 |-- PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA: double (nullable = true)
 |-- PERCENT AGED UNDER 18 OR OVER 64: double (nullable = true)
 |-- PER CAPITA INCOME : integer (nullable = true)
 |-- HARDSHIP INDEX: integer (nullable = true)

['Community Area Number', 'COMMUNITY AREA NAME', 'PERCENT OF HOUSING CROWDED', 'PERCENT HOUSEHOLDS BELOW POVERTY', 'PERCENT AGED 16+ UNEMPLOYED', 'PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA', 'PERCENT AGED UNDER 18 OR OVER 64', 'PER CAPITA INCOME ', 'HARDSHIP INDEX']

## Explorer the data

In [6]:
# Import pandas.
import pandas as pd

# Take the first five rows of crime data, and visualise.
pd.DataFrame(df_crime.take(5), columns = df_crime.columns)

,Case Number,ID,Date,TIME,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,FBI Code,X Coordinate,Community Area,Y Coordinate,Year,Latitude,Updated On,Longitude,Location
0,HZ170962,10433096,1/01/12,12:00:00 AM,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,True,False,...,29,17,None,19,None,2012,None,5/11/16 15:48,None,None
1,HZ170983,10433124,1/01/12,12:00:00 AM,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,RESIDENCE,True,False,...,29,17,None,19,None,2012,None,5/11/16 15:48,None,None
2,JB147078,11227247,1/01/12,9:00:00 AM,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,10,11,None,52,None,2012,None,2/11/18 15:57,None,None
3,JB149037,11228588,4/06/12,12:00:00 PM,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,18,11,None,70,None,2012,None,2/12/18 15:49,None,None
4,JB169720,11244255,1/01/12,12:01:00 AM,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,APARTMENT,False,False,...,31,17,None,19,None,2012,None,3/02/18 15:54,None,None

In [11]:
# Take the first five rows of census data, and visualise.
pd.DataFrame(df_census.take(5), columns = df_census.columns)

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39
1,2,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46
2,3,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20
3,4,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17
4,5,North Center,0.3,7.5,5.2,4.5,26.2,57123,6

## Verify the data quality

In [12]:
# Generating summary statistics for crime data, and converting to a Pandas DataFrame.
df_crime.describe().toPandas()

,summary,Case Number,ID,Date,TIME,IUCR,Primary Type,Description,Location Description,Beat,...,Ward,FBI Code,X Coordinate,Community Area,Y Coordinate,Year,Latitude,Updated On,Longitude,Location
0,count,335881,335882,335882,335882,335882,335882,335882,335506,335882,...,335875,335882,335426,335856,335426,335882,335426,335882,335426,335426
1,mean,342624.8,8685288.95696703,None,None,1092.0595758438667,None,None,None,1164.1396085530037,...,22.832925939709714,11.711842572676632,1164532.3010231764,37.602945905388026,1885423.3761872961,2012.0,41.8411970296055,None,-87.67175084614298,None
2,stddev,115867.13483425746,381750.2318913922,None,None,765.6293334736196,None,None,None,694.4503023566839,...,13.784368258262678,7.231356670546839,17717.545921822,21.56169954649405,33479.45196363734,0.0,0.09215121299487906,None,0.06396285094973082,None
3,min,223432,20224,1/01/12,10:00:00 AM,031A,ARSON,$500 AND UNDER,ABANDONED BUILDING,111,...,1,01A,0,0,0,2012,36.6194464,01/13/2017 03:52:31 PM,-91.68656568,"(36.619446395, -91.686565684)"
4,max,VV591657,11399807,9/12/12,9:59:16 PM,937,WEAPONS VIOLATION,VIOLATION OF STALKING NO CONTACT ORDER,YARD,2535,...,50,9,1205119,77,1951527,2012,42.02258582,9/11/17 15:50,-87.52452938,"(42.022585817, -87.666121381)"

In [13]:
# Generating summary statistics for census data, and converting to a Pandas DataFrame.
df_census.describe().toPandas()

,summary,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,count,77,78,78,78,78,78,78,78,77
1,mean,39.0,None,4.920512820512823,21.739743589743597,15.341025641025643,20.33076923076923,35.71794871794873,25597.0,49.506493506493506
2,stddev,22.371857321197094,None,3.6589814413502,11.457230912971083,7.49949670860991,11.746514351100048,7.284421084944951,15196.405541331917,28.69055565156158
3,min,1,Albany Park,0.3,3.3,4.7,2.5,13.5,8201,1
4,max,77,Woodlawn,15.8,56.5,35.9,54.8,51.5,88669,98

## Clean the data

In [3]:
# Drop only if NaN in “Community Area” for the crime dataset
df_crime_clean = df_crime.dropna(subset=['Community Area'])

# comparing sizes of data frames 
print("Old crime data frame length:", df_crime.count(), "\nNew crime data frame length:",  
       df_crime_clean.count())

# Drop only if NaN in “Community Area Number” for the census dataset
df_census_clean = df_census.dropna(subset=['Community Area Number'])

# comparing sizes of data frames 
print("Old census data frame length:", df_census.count(), "\nNew census data frame length:",  
       df_census_clean.count())

Old crime data frame length: 335882
New crime data frame length: 335856
Old census data frame length: 78
New census data frame length: 77

## Counstruct the data - Derive new columns

In [53]:
import pyspark.sql.functions as f

# Extract month from "Date"
split_col = f.split(df_crime_clean['Date'], '/')
df_crime_clean = df_crime_clean.withColumn('Month', split_col.getItem(1))

# Extract Hour from "TIME"
df_crime_clean = df_crime_clean.withColumn("Hour", f.from_unixtime(f.unix_timestamp("TIME",'hh:mm:ss aa'),'HH'))

# Verify the results
pd.DataFrame(df_crime_clean.select('Date','TIME','Month','Hour').take(15), columns = ['Date','TIME','Month','Hour'])

        Date         TIME Month Hour
0    1/01/12  12:00:00 AM    01   00
1    1/01/12  12:00:00 AM    01   00
2    1/01/12   9:00:00 AM    01   09
3    4/06/12  12:00:00 PM    06   12
4    1/01/12  12:01:00 AM    01   00
5    6/08/12  12:01:00 AM    08   00
6    1/01/12  12:01:00 AM    01   00
7    1/01/12  12:01:00 AM    01   00
8   10/01/12  12:00:00 AM    01   00
9   13/04/12  12:00:00 AM    04   00
10  12/08/12  12:00:00 PM    08   12
11  13/02/12   7:00:00 PM    02   19
12   7/05/12   3:00:00 AM    05   03
13  15/10/12   3:00:00 PM    10   15
14  14/02/12  12:00:00 AM    02   00

## Counstruct the data - Aggregation

In [59]:
# Register DataFrame as SQL View
df_crime_clean.createOrReplaceTempView('tb_crime_clean')
df_census_clean.createOrReplaceTempView('tb_census_clean')

# Aggregate crime data by month for analysis 
df_crime_month = spark.sql("SELECT Month, `Primary Type` CrimeType, count(*) RecordCount FROM tb_crime_clean GROUP BY Month,`Primary Type` ")
df_crime_month.show()

# Aggregate crime data by Community Area for analysis 


# Aggregate crime data by Hour and merge with the census data for building model

+-----+--------------------+-----------+
|Month|           CrimeType|RecordCount|
+-----+--------------------+-----------+
|   07|INTERFERENCE WITH...|        122|
|   10|         SEX OFFENSE|         76|
|   05|            HOMICIDE|         50|
|   11|            GAMBLING|         37|
|   12|LIQUOR LAW VIOLATION|         30|
|   08|           OBSCENITY|          2|
|   08| MOTOR VEHICLE THEFT|       1346|
|   02|  DECEPTIVE PRACTICE|        994|
|   03|            BURGLARY|       1638|
|   01|          KIDNAPPING|         17|
|   09|  DECEPTIVE PRACTICE|       1105|
|   02|            BURGLARY|       1396|
|   03|          KIDNAPPING|         15|
|   01|           OBSCENITY|          4|
|   03|   WEAPONS VIOLATION|        353|
|   07|    PUBLIC INDECENCY|          5|
|   08|     CRIMINAL DAMAGE|       3092|
|   05|            STALKING|         13|
|   11|            STALKING|         19|
|   06|               THEFT|       7071|
+-----+--------------------+-----------+
only showing top 20 rows